body {
    font-family: sans-serif;
    background-color: #ffffff;
    margin-top: 80px;
    padding-top: 80px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 100%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

 .container{
                    max-width: 800px;
                    margin: 0 auto;
                    color: #ea3636;
                    font-family: sans-serif;
                    padding-top: 80;
                    padding-left: 20;
                    padding-right: 20;
             }   
            
